In [1]:
import sys
import os
path_pipest = os.path.abspath('./')
n=0
while (not os.path.basename(path_pipest)=='pipest') and (n<4):
    path_pipest=os.path.dirname(path_pipest)
    n+=1 
if not os.path.basename(path_pipest)=='pipest':
    print("path_pipest not found. Instead: {}".format(path_pipest))
    raise ValueError("path_pipest not found.")
path_models=path_pipest+'/models'    
path_sdhawkes=path_pipest+'/sdhawkes_powerlaw'
path_modelling = path_sdhawkes+'/modelling'
path_resources = path_sdhawkes+'/resources'
path_lobster=path_pipest+'/lobster_for_sdhawkes'
path_lobster_data=path_lobster+'/data'
path_lobster_pyscripts=path_lobster+'/py_scripts'
path_tests = path_pipest+'/tests'
path_saved_tests = path_tests+'/saved_tests'
sys.path.append(path_modelling)
import numpy as np
import pandas as pd
import pickle
import datetime
import time
import datetime
import timeit
import model as sd_hawkes_model
import measure_exectime

openmp.omp_get_max_threads(): 4
openmp.omp_get_max_threads(): 4

In [2]:
date_time="2020-04-12_0738"
with open(path_saved_tests+'/perf-test_{}/'.format(date_time)+'test_model_'+date_time, 'rb') as source:
    model=pickle.load(source)
meas = measure_exectime.PerformanceMeasure(model)
print("Number of cpus: {}".format(os.cpu_count()))
print("\nModel's key features:")
print("d_E={}; d_S={}".format(meas.model.number_of_event_types, meas.model.number_of_states))
print("Number of simulated LOB events: {}".format(len(meas.model.simulated_events)))

PerformanceMeasure is being initialised on model.name_of_model=test_model_2020-04-12_0738
posix.uname_result(sysname='Linux', nodename='claudio-HP-EliteBook-850-G3', release='5.3.0-51-generic', version='#44~18.04.2-Ubuntu SMP Thu Apr 23 14:27:18 UTC 2020', machine='x86_64')
Number of cpus: 4

Model's key features:
d_E=4; d_S=15
Number of simulated LOB events: 19958

/home/claudio/anaconda3/lib/python3.7/site-packages/sklearn/utils/deprecation.py:144: FutureWarning: The sklearn.linear_model.ridge module is  deprecated in version 0.22 and will be removed in version 0.24. The corresponding classes / functions should instead be imported from sklearn.linear_model. Anything that cannot be imported from sklearn.linear_model is now part of the private API.
  warnings.warn(message, FutureWarning)
/home/claudio/anaconda3/lib/python3.7/site-packages/sklearn/base.py:318: UserWarning: Trying to unpickle estimator Ridge from version 0.21.1 when using version 0.22.1. This might lead to breaking code or invalid results. Use at your own risk.
  UserWarning)

In [3]:
model.state_enc.df_state_enc

    st_1  st_2  one_dim_label multidim_label
0      0     0              0         (0, 0)
1      0     1              1         (0, 1)
2      0     2              2         (0, 2)
3      0     3              3         (0, 3)
4      0     4              4         (0, 4)
5      1     0              5         (1, 0)
6      1     1              6         (1, 1)
7      1     2              7         (1, 2)
8      1     3              8         (1, 3)
9      1     4              9         (1, 4)
10     2     0             10         (2, 0)
11     2     1             11         (2, 1)
12     2     2             12         (2, 2)
13     2     3             13         (2, 3)
14     2     4             14         (2, 4)

array([-1. , -0.6, -0.2,  0.2,  0.6,  1. ])

In [3]:
#select component of multivariate Hawkes process e=0,...,d_E-1
e = 0

In [4]:
%%timeit -n 5 -r 3
meas.target_loglikelihood(e, use_prange=False)

3.37 s ± 50.8 ms per loop (mean ± std. dev. of 3 runs, 5 loops each)

In [5]:
%%timeit -n 5 -r 3
meas.target_loglikelihood(e, use_prange=True)

1.26 s ± 5.1 ms per loop (mean ± std. dev. of 3 runs, 5 loops each)