In [1]:
import sys
import os
import pickle
path_pipest='/home/claudio/pipest/pipest/'
path_lobster=path_pipest+'lobster/'
path_data='./data/'
sys.path.append(path_lobster+'py_scripts')

In [2]:
import pandas as pd
import numpy as np

In [3]:
symbol='INTC'
date='2019-01-22'
time_window='34200-57600'

In [4]:
with open(path_data+'{}/{}_{}_{}'.format(symbol,symbol,date,time_window),'rb') as source:
    data=pickle.load(source)

openmp.omp_get_max_threads(): 4

In [5]:
data

In [6]:
data.mid_price

                time  mid_price
0       34200.033144   489600.0
1       34200.033147   489600.0
2       34200.046630   489550.0
3       34200.051388   489550.0
4       34200.051481   488500.0
...              ...        ...
919033  57599.974084   483100.0
919034  57599.974124   483100.0
919035  57599.982038   483100.0
919036  57599.992019   483100.0
919037  57599.996849   483100.0

[919038 rows x 2 columns]

In [7]:
price=data.mid_price.copy()

In [8]:
path_gte='/home/claudio/Documents/mechanics_gte/implementation/gte/'
path_gtedata=path_gte+'data/'

In [9]:
with open(path_gtedata+'{}/{}_{}_midprice'.format(symbol,symbol,date),'wb') as outfile:
    pickle.dump(price,outfile)